<a href="/piratske-listy/"><img src="/assets/img/miscellaneous/stahnete-si-piratske-listy.png" width="348px" height="332px" alt="Stáhněte si Pirátské Listy" /></a>

<h2>Komunální volby video:</h2>
<p>
<iframe width="342px" height="192px" src="https://www.youtube.com/embed/NHyBWzxEdTo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>

<a href="/komunalni-volby-2018/povolebni-strategie/"><img src="/assets/img/miscellaneous/povolebni-strategie.jpg" /></a>
<!--
<a class="twitter-timeline" href="https://twitter.com/piratipraha11?ref_src=twsrc%5Etfw">Tweets by piratipraha11</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
-->