<h2>Komunální volby video:</h2>
<p>
<iframe width="342px" height="192px" src="https://www.youtube.com/embed/NHyBWzxEdTo" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
</p>

<a href="https://praha11.pirati.cz/tiskove-zpravy/posezeni-s-piraty/"><img src="/assets/img/miscellaneous/posezeni.png" /></a>

<a class="twitter-timeline" href="https://twitter.com/piratipraha11?ref_src=twsrc%5Etfw">Tweets by piratipraha11</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>