---
layout: blank-article
---

{{ content }}

{% capture tags %}
	{% for tag in site.tags %}
		{{ tag[0] }}
	{% endfor %}
	{% for team in site.teams %}
		{{ team.tags }}
{% endfor %}
{% endcapture %}
{% assign sortedtags = tags | split:' ' | uniq | sort %}

<div class="c-emphasized-text c-person">
  {% capture headline %}{% include people/fullname.html person=page %}{% endcapture %}
  {% include page-header.html headline=headline content=content contentClass='c-person__content' %}
  {{ item.name }}
  {% include page-comment.html uid=uid %}
</div>